@charset "utf-8";
@use "@/styles/setting" as *;
/*--------------------------------------------------------------------
  structure : モーダル背景
----------------------------------------------------------------------*/
.st-modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(83, 192, 211, .8);
}
