@charset "utf-8";
@use "@/styles/setting" as *;
/*--------------------------------------------------------------------
  Component : ボタン
----------------------------------------------------------------------*/
.c-{
  &btn {
    padding: 0 15px;
    border: 1px solid;
    border-radius: 3px;
    line-height: 1.6;
    &--primary {
      border-style: double;
      border-width: 4px;
      background: $mainColor;
      transition: all .3s;
      color: #fff;
      @include hover {
        border-color: $mainColor;
        background: #fff;
        color: $mainColor;
      }
    }
    &--secondary {
    background-color: #f5f5f5;
    color: #333;
    border-color: #ccc;
    transition: background-color .3s;
      @include hover {
        background-color: #e0e0e0;
      }
    }
  }
}
